{% extends "base.html" %}

{% block title %}Inicio{% endblock %}

{% block content %}
    <h1>Bienvenido a SCRUM</h1>
    
    <p>
        {% if user.is_authenticated %}
            ¡Hola, {{ user.username }}! Bienvenido de nuevo. Aquí puedes gestionar tus tareas y acceder a todas las funcionalidades de la aplicación.
        {% else %}
            ¡Bienvenido a nuestra plataforma de gestión SCRUM! Por favor, <a href="{% url 'login' %}">inicia sesión</a> o <a href="{% url 'register' %}">regístrate</a> para comenzar.
        {% endif %}
    </p>
    <br><br><br>
{% endblock %}
