{%if tareas%}
    {%for tarea in tareas%}
        {% if 'scrum.view_epica' in permisos or 'scrum.view_sprint' in permisos or 'scrum.view_tarea' in permisos %}
            <div class="tarea-item-lista">
                <h2>{{tarea.titulo}} - sprint: {{tarea.sprint_asignado.nombre}}</h2>
                <div class="editar-eliminar-tarea">
                    <a href="{% url 'editar_tarea' tarea.pk%}">Editar Tarea</a>
                    <a href="{% url 'eliminar_tarea' tarea.pk%}">Eliminar Tarea</a>
                </div>
            </div>
        {%endif%}
    {%endfor%}
{%else%}
    <h3>No hay tareas!</h3>
{%endif%}