<nav>
    <ul>
        <li><a href="{% url 'home' %}">Inicio</a></li>
        <li><a href="{%url 'crear-tarea'%}">Crear tarea</a></li>
        <li><a href="{%url 'listar-tareas'%}">Todas las tareas</a></li>
        <li><a href="{%url 'listar-tareas-a-mi-cargo'%}">Ver tareas a mi cargo</a></li>
        {%if user.is_authenticated%}
            <li><a href="{%url 'logout'%}">Cerrar sesión</a></li>
        {%else%}
            <li><a href="{%url 'login'%}">Log In</a></li>
            <li><a href="{%url 'register'%}">Registrarse</a></li>
        {%endif%}
    </ul>
</nav>